*{
    margin: 0;
    padding: 0;
}

/* .navbar{
    background-color: grey;
} */
/* .container-fluid{
    background-color: grey;
} */
/* .container-fluid{
    margin: 0;
    background-color: rgb(212, 196, 196);
    top: 0;
} */

.navbar navbar-expand-lg navbar-light bg-light{
    background-color: grey;
}
